.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    background-color: rgb(242, 242, 242);
    position: sticky;
    top: 0;
    max-width: 100%;
}

section {
    min-height: 100%;
    max-width: 100%;
    flex-grow: 1;
}

footer {
    background-color: rgb(242, 242, 242);
    position: sticky;
    bottom: 0;
}

.conversation {
    position: relative;
    margin: 0;
}

.conversation a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.conversation:hover {
    background-color: #eef1f7;
}