    
{
  "singleQuote": true, 
  "tabWidth": 4,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}